In [1]:
import numpy as np
import pandas as pd

In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, RobustScaler
dataset='banknote'
df=pd.read_csv('Dataset/banknote.csv').sample(frac=1.0).reset_index(drop=True)
N=len(df)

df=df.fillna(0)
feats=df.columns.values[:-1]
target=df.columns.values[-1]
scaler=MinMaxScaler()
scaler.fit(df[feats])
df[feats]=scaler.transform(df[feats])
df.head()

     Attr_A    Attr_B    Attr_C    Attr_D  Result
0  0.472325  0.548819  0.157572  0.725575       1
1  0.404892  0.959891  0.245643  0.140975       0
2  0.499184  0.772589  0.267347  0.716404       0
3  0.292106  0.267442  0.600435  0.942743       1
4  0.837447  0.785135  0.086445  0.641389       0

In [12]:
df.Result[df.Result==0]=-1

C:\Users\irfan\.conda\envs\tf\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
df.head()

     Attr_A    Attr_B    Attr_C    Attr_D  Result
0  0.472325  0.548819  0.157572  0.725575       1
1  0.404892  0.959891  0.245643  0.140975      -1
2  0.499184  0.772589  0.267347  0.716404      -1
3  0.292106  0.267442  0.600435  0.942743       1
4  0.837447  0.785135  0.086445  0.641389      -1

In [17]:
class SvmC():
    def __init__(self,n_feats):
        self.weights=np.zeros(n_feats+1)
        self.C=1.0
        
    def calc_loss(self,X,Y):
        _X=np. concatanate([np.ones(X.shape[0],1),X],axis=1)
        self.Y=np.matmul(self.weights,_X.T)
        self.hinge=1-(self.Y*Y)
        self.loss=np.square(self.weights) + self.C*(np.maximum(0.0,self.Y*Y))
        self.loss=np.mean(self.loss)
        
    def calc_grad(self,X,Y):
        _X=np. concatanate([np.ones(X.shape[0],1),X],axis=1)
        mask = np.array(self.hinge>0,dtype=np.float32)
        self.grads=np.zeros_like(self.weights)
        for x,y,mask_val in zip(_X,Y,mask):
            if mask_val : self.grads = (1- self.C* x*y)
            else : self.grads= self.weights
        
    def update_weights(self):
        self.weights+=self.grads

In [18]:
SvmC(4)